# ignore all env
*.env
.env

#ignore postgre container
postgres/postgres/
caddy/caddy
caddy/caddy_config
caddy/caddy_data

#ignore all the containers
containers/
actions-runner/.credentials
actions-runner/.credentials_rsaparams
actions-runner/.path
