{
    email adamfrancetest@gmail.com
}

# heurly.fr {
#     reverse_proxy main.heurly:3003
# }

    
logs.heurly.fr {
    reverse_proxy grafana:3000
}   

    
beta.heurly.fr {
        reverse_proxy beta.heurly:3000
    }
    
heurly.fr {
        reverse_proxy  http://pheurly:3000
    }

heurly.fr:5432 {
    reverse_proxy  http://postgres-db-heurly-prod-1:5432
}
    
